<div id="page-main">
  
  <h1>Register</h1>  
  <form>
      <div class="form-group">
          <input type="text" class="form-control" id="i_firstname" name="firstName" placeholder="First Name" value ="Phily" required/>
          <div class="invalid-feedback">
              Please input your first name.
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="i_lastname" name="lastName" placeholder="Last Name" value="Wu" required/>
            <div class="invalid-feedback">
                Please input your last name.
              </div>
          </div>
          <div class="form-group">
              <input type="text" class="form-control" id="i_mobile" name="mobile" placeholder="Mobile Number" value="02734234" required/>
              <div class="invalid-feedback">
                  Please input your mobile number.
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="i_email" name="email" placeholder="Email Address" value="phily@gmail.com" required/>
                <div class="invalid-feedback">
                    Please input correct email address.
                  </div>
              </div>
    
        <div class="form-group">
          <input type="password" class="form-control" id="i_newpassword" name="newPassword" placeholder="Password" value="123456" required/>
          <div class="invalid-feedback">
              Password cannot be empty.
            </div>
        </div>
        
        <button type="button" id="b_register" class="btn btn-primary full-length-button" >Register</button>
      

    </form>
  
</div>